
@{
    ViewBag.Title = "Contractors";
}
<br />
<style>
    .fa-cog {
  color: #e3f2fd;
}
</style>
<div class="panel panel-primary">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <p>     
                    Umbrella was originally formed to provide employment opportunities for workers in the Health and Social Care sectors. It has now expanded across a whole array of business sectors and can provide advice to its employees about a whole range of issues.
                    <br />
                    <br />

                    When you join Umbrella you become a direct employee of the Umbrella company and undertake various roles to suit your experience. As your employer, the Umbrella company also provides you with all your employment benefits and protection, plus the reimbursement of approved business expenses

                    Give yourself a Umbrella today
                </p>
                <p>
                    Umbrella benefits:
                </p>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>Access to online portal</li>
                    <li><i class="fa-li fa fa-check-square"></i>Continuous employment</li>
                    <li><i class="fa-li fa fa-check-square"></i>Fast accurate payment</li>
                    <li><i class="fa-li fa fa-check-square"></i>Insurance cover</li>
                    <li><i class="fa-li fa fa-check-square"></i>Finance and tax services</li>
                    <li><i class="fa-li fa fa-check-square"></i>Same day payroll</li>
                    <li><i class="fa-li fa fa-check-square"></i>Dedicated Account Manager</li>
                </ul>
            </div>
            <div class="col-md-5">
                    <img src="~/images/middle.jpg" class="img-fluid" />
              <a target="_self"></a>
            </div>
        </div>



    </div>
</div>

