@{
    ViewData["Title"] = "Home Page";
}

<style>
    .fa-cog {
        color: #e3f2fd;
    }
</style>


<br />

<div class="card">

    <div class="card-body">
        <div class="jumbotron text-black text-center" >
            <h2>Welcome to Ovationscorp Limited</h2>
            <h3>Umbrella Service</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="~/images/front.jpg" class="img-fluid" />
            </div>
            <br />
            <div class="col-md-7">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>Excellent employment opportunities and remuneration package</li>
                    <li><i class="fa-li fa fa-check-square"></i>Same-day Faster Payments with salary advances subject to conditions</li>
                    <li><i class="fa-li fa fa-check-square"></i>Reimbursement of approved business expenses</li>
                    <li><i class="fa-li fa fa-check-square"></i>Basic pay against approved timesheets</li>
                    <li><i class="fa-li fa fa-check-square"></i>Statutory pay</li>
                    <li><i class="fa-li fa fa-check-square"></i>Personal consultant to respond immediately to any queries</li>
                    <li><i class="fa-li fa fa-check-square"></i>Professional indemnity insurance</li>

                </ul>
            </div>
            <div class="col-md-5">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square"></i>Umbrella company payroll</li>
                    <li><i class="fa-li fa fa-check-square"></i>Fast and accurate payment</li>
                    <li><i class="fa-li fa fa-check-square"></i>Insurance cover</li>
                    <li><i class="fa-li fa fa-check-square"></i>Finance and tax services</li>
                    <li><i class="fa-li fa fa-check-square"></i>Member benefits discounts</li>
                    <li><i class="fa-li fa fa-check-square"></i>Dedicated consultant</li>
                    <li><i class="fa-li fa fa-check-square"></i>Online contractor web portal</li>

                </ul>
            </div>
        </div>
    </div>
</div>

